[worldserver]

################################################################################################################
#    Dynamic.XP.Rate
#        Description: You can setup the personal XP rate for different level ranges.
#
#        Dynamic.XP.Rate.Announce: 1 (Enable) Default
#                                  0 (Disable)
#
#        Dynamic.XP.Rate: 1 (Enable) Default
#                         0 (Disable)
#
#        Dynamic.XP.Rate.X-X: 1+ (Set a custom XP rate on that level range)
#                             0  (Reset custom XP rate to default on that level range)
#

Dynamic.XP.Rate.Announce = 1

Dynamic.XP.Rate = 1

Dynamic.XP.Rate.1-9 = 1
Dynamic.XP.Rate.10-19 = 2
Dynamic.XP.Rate.20-29 = 3
Dynamic.XP.Rate.30-39 = 4
Dynamic.XP.Rate.40-49 = 5
Dynamic.XP.Rate.50-59 = 6
Dynamic.XP.Rate.60 = 7
Dynamic.XP.Rate.61-64 = 8
Dynamic.XP.Rate.65-69 = 9
Dynamic.XP.Rate.70 = 10
Dynamic.XP.Rate.71-74 = 11
Dynamic.XP.Rate.75-79 = 12
Dynamic.XP.Rate.80 = 13

##################################################################################################################
